<button class="button" (click)="show()">mostrar modal</button>

<ng-template #modal>
  <div class="field">
    <label for="fistrName">firstName</label>
    <br />
    <input id="fistrName" />
  </div>

  <div class="field">
    <label for="surName">surName</label>
    <br />
    <input id="surName" />
  </div>

  <div class="field">
    <label for="age">Age</label>
    <br />
    <input id="age" />
  </div>

  <br />

  <div>
    <button>submit</button>
    <button (click)="modalRef.close()">cancel</button>
  </div>
</ng-template>
